---
name: "Deploy K8S PROD Multiple"

# on:
#   workflow_dispatch:
on:
  workflow_dispatch:
  push:
      branches:
            - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    # - name: Build docker image
    #   run: docker build --file docker/Dockerfile --tag go-webserver:latest .
    - name: build image and push to docker hub
      uses: docker/build-push-action@v1.1.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: ${{ secrets.DOCKER_USERNAME }}/api-gateway-fernando
        tags: ${{ github.sha }}

    - name: Checkout GitHub Action Repo
      uses: actions/checkout@v2
      with:
        repository: nandoin/argocd
        ref: main
        #token: ${{ secrets.GIT_HUB_TOKEN }}
        path: .github/argocd

    - name: Deploy api-gateway-fernando
      uses: ./.github/argocd/actions/deploy_kubernetes_multiple
      with:         
        environment: production
        name: api-gateway-fernando
        image: api-gateway-fernando:${{ github.sha }}
        github_token: ${{ secrets.SSH_KEY }}
        version: ${{ github.sha }}
